<p>Olá <%= @resource.name || @resource.email %>!</p>

<p>Recebemos uma solicitação para redefinir a senha da sua conta no eDomi.</p>

<p>Para criar uma nova senha, clique no link abaixo:</p>

<p><%= link_to 'Redefinir minha senha', "#{root_url}users/password/edit?reset_password_token=#{@token}" %></p>

<p>Se você não solicitou esta alteração, por favor ignore este e-mail.</p>

<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>

<p>Atenciosamente,<br>
Equipe eDomi</p>
